*{

}

.header{
    color: #3dc09f;

}
.cards{

    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(1fr, 6fr));


    border-radius: 15px;
    box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);




}

.cards div{
    border: .3px solid #bde8d4;
    border-radius: 1rem;

    margin: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #a9c9ff;
    background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);


}

.cards div>h1{
    color: #212323;
    font-size: 50px;

}

.cards div:hover{
    background-image: linear-gradient(90deg, #a9c9ff 30%, #ffbbec 40%);
    opacity: 0.7;
    margin-top:-7px;

}


